@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonteTipografia: 'Kanit';
    --cor1: green;
    --cor2: blue;
    --cor3: yellow;
}

.corNumeroUm {
    color: var(--cor1);
}

.corNumeroDois {
    color: var(--cor2);
}

.corNumeroTres {
    color: var(--cor3);
}

.tipografia {
    font-family: var(--fonteTipografia);
}

@keyframes animation-1 {
    0% {
        background-color: #000;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

.animacao {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 100%;
    transition: all 2s ease-in-out;
}

.animacao:hover {
    background-color: red;
}

